{% extends 'base.html' %}

{% block head %}
<title>{{ restaurant.name }} Menu</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ restaurant.name }}</h1>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li><h2>{{ message }}</h2></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    
    <ul class="menu">
        {% for item in menu_items %}
        <li>
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>
            <a href="/restaurants/{{restaurant.id}}/edit/{{item.id}}">Edit</a>
            <a href="/restaurants/{{restaurant.id}}/delete/{{item.id}}">Delete</a>
            <br><br>
        </li>
        {% endfor %}
    </ul>
    <h2><a href="/restaurants/{{restaurant.id}}/new_menu_item">Add new menu item</a></h2>
    <h2><a href="/restaurants" class="to_main">Return to restaurants list</a></h2>
</div>
{% endblock %}
